.*
~*

node_modules/
/vendor

ehthumbs.db
Thumbs.db

.idea
.vscode

*.sublime-project
*.sublime-workspace
*.komodoproject

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Whitelist
!.gitignore